.banner {
    position: absolute;
    top: 100px;
    left: 300px;
}

@media screen and (max-width: 480px) {
    .banner-div {
        position: relative;
    }

    .banner {
        position: absolute;
        top: 50px;
        left: 20px;
        font-size: 15px;
    }
}